<!DOCTYPE html>


<html>
<head>
    <title>About</title>
   <link rel="icon" type="image/png" href="/assets/weather.png" />
   
   <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
   <div>
       {{>header}}
   <h1>{{ about }}</h1>
   <img class="portrait" src='./assets/WIN_20210917_15_21_32_Pro.jpg'>
   </div>
    {{>footer}}
</body>

</html>