<!DOCTYPE html>


<html>
<head>
<title>404</title>
<link rel="icon" type="image/png" href="/Web-server/public/assets/weather.png">
<link rel="stylesheet" href="css/styles.css">
<script src="js/app.js"></script>
</head>

<body>
    <div class="main-content">
       {{>header}}
   <h1>{{ title }}</h1>
   <p>{{ error }}</p>
    </div>
  
   {{>footer}}
</body>

</html>